<header class="container">
  <h1><a href="#" id="logo">GENIE</a></h1>
  <ul class="nav nav-underline">
    <li class="nav-item">
      <a class="nav-link"  onclick="addActiveClass(this)" aria-current="page" href="#">MENU</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" onclick="addActiveClass(this)" href="#">BLOG</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" onclick="addActiveClass(this)" href="#">ACCESS</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" onclick="addActiveClass(this)" href="#">CONTACT</a>
    </li>
  </ul>
</header>