<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta http-equiv=”Content-Type” content=”text/html; charset=utf-8″>
    <title>【公式】GENIE - 新所沢人気エステサロン</title>
    <meta name="discription" content="新所沢駅東口から徒歩2分。脱毛、眉毛ケア、肌改善、痩身などを行うエステサロンGenie（ジーニー）です。美容と健康でお悩みの方は、まずは当店へお越しください。当店の最新情報はInstagramにて随時配信しております。また、当店は、各種コンテスト出場の方を応援しています。IBCA公認のボディーカラーリングなどコンテストに特化した施術を用意しています。">
    <meta name="keywords" content="エステ,美容,脱毛,肌">
    <link rel="icon" href="/images/favicon.jpg">
    


    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  </head>
  <body class="menu-body">
    <div id="menu" class="banner"><!-- 背景画像 -->

      <!-- ヘッダー -->
      <%- include('header.ejs') %>
      <!-- ヘッダー -->
      
      <h2>menu</h2>

      <div class="menu-card container">
        <% menus.forEach((menu) => { %>
          <div class="card" style="width: 35rem;">
            <img src="<%= menu.image %>" class="card-img-top" alt="...">
            <div class="card-body">
              <h3 class="menu-name"><%= menu.name %></h3>
              <p class="card-text"><%= menu.explain %></p>
            </div>
          </div>
        <% }) %>        
        <button onclick="window.open('https://beauty.hotpepper.jp/kr/slnH000582982/coupon/', '_blank')" type="button" class="btn btn-outline-info btn-lg">RESERVATION</button>
      </div>


    </div><!--背景画像-->
    




  <!--Bootstrap CDN-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
  </body>
</html>
