<!DOCTYPE html>
<html lang = "ja">
  <head>
    <meta charset = "utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>【公式】GENIE │ ジーニー</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Bilbo+Swash+Caps&family=Cinzel+Decorative:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bilbo+Swash+Caps&family=Cinzel+Decorative:wght@700&family=Dancing+Script:wght@700&display=swap" rel="stylesheet">
    <meta name="description" content="GENIEの施術は魔法級！新しいあなたに生まれ変わります。">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  </head>
  <body>
    <div class="top-bg">
      <header>
        <div class="header-nav">
          <a class="top-logo" href="/">GENIE</a>
          <ul>
            <li><a href="/int">施術紹介</a></li>
            <li><a href="/blog">ブログ</a></li>
            <% if (locals.isLoggedIn) { %>
              <li><a id="logoutButton" href="/logout">ログアウト</a></li>
            <% } else { %>
              <li><a href="/signup">新規登録</a></li>
              <li><a href="/login">ログイン</a></li>
            <% } %>
          </ul>
        </div>
      </header>
      <main class="top-main">
        <h2 class="top-message">Welcome to GENIE <br> <%= locals.username %>様</h2>
        <a class="resarvation" href="https://beauty.hotpepper.jp/kr/slnH000582982/">予約</a>
      </main>
    </div>
    <div class="second second-img">
      <h2>MISSION</h2>
      <p>GENIEは<% if(locals.username === 'ゲスト'){ %>
        <span>"あなた"</span>
      <% } else { %>
        <span>"<%= locals.username %>様"</span>
      <% } %>を輝かせるスペシャリストです。<br>GENIEに関わる全ての人を輝かせます。
      </p>
    </div>
    
    <div id="confirmationModal1" style="display: none;">
      <!-- モーダルの中身 -->
      <p>ログアウトしてもよろしいですか？</p>
      <div class="modalButton">
        <button id="confirmLogout1">はい</button>
        <button id="cancelLogout1">いいえ</button>
      </div>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script>
      const socket = io();
    </script>
    <script src="script.js"></script>
  </body>
  
</html>