
/* ヘッダー */
header{
  padding: 1%;
  display: flex;
  justify-content: space-between;

  /* Custom CSS for changing hover color */
  .nav-underline .nav-item:hover .nav-link {
    border-bottom: 2px solid white; /* Change this to the desired color */
    color: white;
  }

  .nav-link{
    color: aqua;
    font-size: larger;
  }

  #logo{
    font-family:  'Cursive', 'Script', cursive;
    color: aqua;
    text-align: center;
    align-self: center;
    text-decoration: none;
  }
}/* ヘッダー */

#home{ /* トップ背景 */
  background-image: url("/images/bg-1.jpg");
  background-color: black;
  background-blend-mode: hard-light;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}/* トップ背景 */

.big-bg{/* 背景詳細設定 */
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}/* 背景詳細設定 */

.top-content{/* トップ中央の文字 */
  text-align: center;
  color: #0bd;
  align-self: center;
  margin-top: auto;
  margin-bottom: auto;
  filter: brightness(1.5); 

  .top-message{
    font-size: 5rem;
    font-family:  "Times New Roman","Palatino Linotype", sans-serif;
    text-transform: uppercase;
    font-weight: normal;
  }

  .sub-message{
    font-size: 1.5rem;
    margin: 10px 0 42px;
    font-family: impact, Helvetica, sans-serif;

    .emphasis{
      font-weight: bold;
    }
  }

  .btn{
    padding: 1.5rem 2rem;
    border-width: 2px;

    &:hover{
      color: #fff;
    }
  }
  
}/* トップ中央の文字 */

#menu{ //
  background-image: url("/images/menu-2.jpg");
  //height: 200px;
  display: flex;
  flex-direction: column;
  >h2{
    align-self: center;
    text-transform: uppercase;
    font-family:  "Times New Roman","Palatino Linotype", sans-serif;
    margin-top: 20px;
    font-size: 3rem;
    color: aqua;
  }
}



.menu-card{
  margin-top: 50px;
  margin-bottom: 50px;
  display: grid;
  gap: 60px;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 1fr);
  .card{
    height: 100%;
  }
}
